body{
	margin:0;
	padding:0;
	font-family: 'Indie Flower', cursive;
}
.hname h5{
	font-size: 18px;
	text-shadow: 1px 1px #b9b9b9;
	text-align: left;
	vertical-align: center;
}
nav{
	background-color: #70459a;
	color: white;
}
nav li{
	list-style-type: none;
	text-shadow: 1px 1px #b9b9b9;
}
a{
	text-decoration: none;
	display: block;/* toda la superficie puede ser linkeable*/
	color: #fff;
	text-align: center;
}
a:hover{
background: #f9a91a;
color: #000000;
}

.tagline{
	background-image: url(../images/tagline2.png);
	background-size: cover;
	height: 100vh;
	padding-left: 0;
	width: 100%;
}
.col-12 h1{
	font-size: 68px;
	width: 100%;
	text-align: left;
	margin-top: 10%;
	margin-left: 5%;
	color: white;
	text-shadow: 2px 2px #b9b9b9;
}
.col-6 h4{
	font-weight: bold;
	font-size: 20px;
	color: #0085b0;
}
#info{
	padding-left: 10%;
}
#contact h4{
	text-align: justify;
	margin-left: 20%;

}
address{
	text-align: justify;
	margin-left: 20%;
}
.col-3 .button{
	border-radius: 5%;
	width: 10%;
	text-align: left;
}
.btn1{
	background: #0085b0;
	color: white;
	padding: 5px;
}
#cards img{
	width: 300px;
	height: 200px;
}
.col-4 h4{
	color: #f9a91a;
	font-size: 20px;
	box-sizing: border-box;
}
.col-4 {
	border: solid;
	border-color: #b9b9b9;	
}
.btn2{
	background: #0085b0;
	color: white;
	padding: 5px;
}
/*.col-4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.col-4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.col-4  {padding: 2px 16px;
}/* Add shadows to create the "card" effect */
/* On mouse-over, add a deeper shadow */
/* Add some padding inside the card container */
footer{
	width: 100%;
	background: #70459a;
}
.fa-copyright{
	text-align: center;
}
#copyright{
	text-align: center;
}
