/*@media (min-width: 1200px){
	[class*= "col-"]{
		width: 100%;
	}
	.gatito{
		content:url(../images/kitten-medium.png);
		padding-left: 30%;
		padding-top: 6%;	
	}	
}
@media (min-width: 	992px) and (max-width: 1200px){
	[class*= "col-"]{
		width: 100%;
	}
	.gatito{
		content:url(../images/kitten-medium.png);
		
	}	
}